<!DOCTYPE html>
<html>
  <head>
    <H1>Rent</H1>
    <title>Rent</title>
  <head>
  <html>
      <body>
          <DatePicker
            selected={this.state.startDate}
            selectsStart
            startDate={this.state.startDate}
            endDate={this.state.endDate}
            onChange={this.handleChangeStart}
          />

          <DatePicker
              selected={this.state.endDate}
              selectsEnd
              startDate={this.state.startDate}
              endDate={this.state.endDate}
              onChange={this.handleChangeEnd}
          />

      </body>
    </html>
</html>
